@font-face {
    font-family: 'pragmaticacbold';
    src: url('../../fonts/pragmaticac-bold-webfont.eot');
    src: url('../../fonts/pragmaticac-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/pragmaticac-bold-webfont.woff2') format('woff2'),
         url('../../fonts/pragmaticac-bold-webfont.woff') format('woff'),
         url('../../fonts/pragmaticac-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pragmaticacregular';
    src: url('../../fonts/pragmaticac-webfont.eot');
    src: url('../../fonts/pragmaticac-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/pragmaticac-webfont.woff2') format('woff2'),
         url('../../fonts/pragmaticac-webfont.woff') format('woff'),
         url('../../fonts/pragmaticac-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.clear{clear:both;}

* { margin: 0; padding: 0; list-style: none; text-decoration: none;}
html, body { 
}

body { 
	overflow:hidden;
}

textarea:focus, input:focus{
	outline: none;
}

#logo{
	width:400px;
	height:399px;
	position:absolute;
	left:50%;
	margin-left:-200px;
	margin-top:100px;
}

.orange .search{
	border:0;
	width:290px;
	height:30px;
	position:relative;
	text-align:center;
	left:50%;
	margin-left:-145px;
	top:213px;
	background:#000;
	color:#ff6600;
	font-family:pragmaticacregular;
}

.orange .search::-webkit-input-placeholder         {color:#ff6600;}
.orange .search::-moz-placeholder     {color:#ff6600;} 
.orange .search::-moz-placeholder      {color:#ff6600;} 
.orange .search::-ms-input-placeholder {color:#ff6600;} 

.orange #logo{background:url(../../images/restore/orange-logo.png) no-repeat;}

.green .search{
	border:0;
	width:290px;
	height:30px;
	position:relative;
	text-align:center;
	left:50%;
	margin-left:-145px;
	top:213px;
	background:#000;
	color:#b1fe00;
	font-family:pragmaticacregular;
}

.green .search::-webkit-input-placeholder         {color:#b1fe00;}
.green .search::-moz-placeholder     {color:#b1fe00;} 
.green .search::-moz-placeholder      {color:#b1fe00;} 
.green .search::-ms-input-placeholder {color:#b1fe00;} 

.green #logo{background:url(../../images/restore/green-logo.png) no-repeat;}

#main-menu{
	width:100%; float:left; overflow:hidden; position:relative; top:600px;
}

#main-menu ul{
	text-align:center; clear:left; float:left; position:relative; left:50%;
}

#main-menu li{
	float:left;
	display: table;
	width:180px;
	text-align:center;
	height:40px;
	position:relative; right:50%;
	margin:0 10px;
}

#main-menu li a{
	font-family:pragmaticacregular;
	font-size:16px;
	text-transform:uppercase;
	display: table-cell;
	vertical-align: middle;	
	color:#bbbbbb;
	width:auto;
}

.orange #main-menu li a:hover{color:#ff6600;}

.green #main-menu li a:hover{color:#b1fe00;}

.button28{
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow: 0 1px rgba(255,255,255,.2) inset,
 0 3px 5px rgba(0,1,6,.5),
 0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}

.container {
  top: 50%;
  left: 50%;
  width: 500px;
  min-width: 48px;
  height: 500px;
  position: absolute;
  margin-top: -275px;
  margin-left: -275px;
  font-family: Arial;
  /*display: none;*/
}

.user-img {
  background: transparent url(../../images/restore/circle.png) no-repeat 50% 50%;
  height: 100%;
  position: relative;
  margin: auto;
}

#form-box{
	position: relative;
  	padding-left: 159px;
  	margin-bottom: 50px;
}

.user-container-form {
  display: block;
  position: relative;
  top: -380px;
  overflow: auto;
}

#form-box h3{
	text-transform:uppercase;
	color:#000000;
	font-size:16px;
	font-family:Tahoma;
	margin-bottom:5px;
}

#form-box span{
	color:#cacaca;
	font-size:12px;
	font-family:Arial;
	margin-bottom:5px;
	display:block;
}

#form-box p{
	color:#000000;
	font-size:16px;
	font-family:pragmaticacregular;
	margin-bottom:2px;
	font-weight:bold;
}

#reg-form input{
	display:block;
}

.inpt{
	width:278px;
	height:21px;
	background:#dfdfdf;
	color:#fff;
	border:0px;
	text-align:center;
	margin:0 auto 6px;
	font-size:11px;
	font-weight:Arial;
}

.inpt::-webkit-input-placeholder         {color:#fff;}
.inpt::-moz-placeholder     {color:#fff;} 
.inpt::-moz-placeholder      {color:#fff;} 
.inpt::-ms-input-placeholder {color:#fff;} 

#display-pass{
	color:#000000;
	font-family:Arial;
	font-size:10px;
	top:-6px;
	position:relative;	
}

.btn-sub{
	width:144px;
	height:21px;
	color:#000000;
	text-transform:uppercase;
	text-align:center;
	border:0px;
	cursor:pointer;
	font-family:pragmaticacregular;
	font-size:12px;
	font-weight:bold;
	margin:7px auto 0px;
}

.orange .btn-sub{background:#ff6600;}

.green .btn-sub{background:#a6eb1e;}

#recovery-pass{
	color:#cccccc;
	font-size:10px;
	font-family:Arial;
	top:-2px;
	position:relative;
}

#social-title{
	color:#000000;
	font-family:pragmaticacregular;
	font-size:16px;
	width:100%;
	font-weight:bold;
	text-align:center;
	margin:6px 0 0 0;
}

#social{background:url(../../images/restore/social.png) no-repeat; width:155px; height:20px; margin:12px auto;}

#social li{float:left; margin-left:6px;}

#social li:first-child{margin:0;}

#social li a{
	width:20px;
	height:20px;
	display:block;
}

#line{
	width:1px;
	height:48px;
	position:relative;
	background:#d7d9da;
	float:left;
	left:201px;
	top: -10px;
}

#rev1{
	width:80px;
	float:left;
	color:#000000;
	font-family:Arial;
	font-size:11px;	
	margin:0 0 0 118px;
}

#rev1 span{
	color:#000000;
	font-family:Arial;
	font-size:12px;	
	font-weight:bold;
}

#rev2{
	width:80px;
	float:right;
	color:#000000;
	font-family:Arial;
	font-size:11px;	
	margin:0 116px 0 0px;
}

#rev2 span{
	color:#000000;
	font-family:Arial;
	font-size:12px;	
	font-weight:bold;
	display:inline;
}

#reg-title{
	color:#000000;
	font-size:16px;
	font-family:pragmaticacregular;
	margin-bottom:5px;
	width:185px;
	margin:0 0 8px 0px;
	font-weight:bold;
	text-align: center;
}

.mail{
	width:156px;
	height:19px;
	background:#dfdfdf;
	color:#000;
	font-family:pragmaticacregular;
	font-size:11px;
	padding:2px 6px 0px 6px;
	border:0px;
	float:left;
	margin:0 0 0 0px;
}

.mail::-webkit-input-placeholder         {color:#fff;}
.mail::-moz-placeholder     {color:#fff;} 
.mail::-moz-placeholder      {color:#fff;} 
.mail::-ms-input-placeholder {color:#fff;} 

#input-link{
	width:23px;
	height:21px;
	background:url(../../images/restore/pointer.png) no-repeat;
	display:block;
	float:left;
	margin:0 0 0 2px;
}
/* Added by Victor Yamchinov to style button submit input as link */
input#input-link {
	border: 0;
	cursor: pointer;
}
input#button-code {
	border: 0;
	cursor: pointer;
}
/* End addition */
#introtext{
	width:194px;
	margin:4px 0 12px 0px;
	font-family:Arial;
	font-size:9px;
	text-align:left;
	color:#6d6e70;
}

.code{margin-top:8px;}

#button-code{
	width:21px;
	height:21px;
	background:url(../../images/restore/button-code.png) no-repeat;
	display:block;
	float:left;
	margin:8px 0 0 5px;
}

.orange input[type="checkbox"]{display:none;}

.orange input[type="checkbox"] + span {
 position: absolute; /* ���������� ���������������� */
 left: 82px; top: 299px;
 width: 23px; height: 19px;
 background: url(../../images/restore/check.png) no-repeat; /* ������� ������� */
 cursor: pointer; /* ������ � ���� ���� */
}

.orange input[type="checkbox"]:checked + span  	{
 background: url(../../images/restore/check-orange.png) no-repeat;
}

.green input[type="checkbox"]{display:none;}

.green input[type="checkbox"] + span {
 position: absolute; /* ���������� ���������������� */
 left: 82px; top: 299px;
 width: 23px; height: 19px;
 background: url(../../images/restore/check.png) no-repeat; /* ������� ������� */
 cursor: pointer; /* ������ � ���� ���� */
}

.green input[type="checkbox"]:checked + span  	{
 background: url(../../images/restore/check-green.png) no-repeat;
}

.reg-button{
	width:140px;
	height:21px;
	text-align:center;
	color:#000;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	border:0px;
	cursor:pointer;
}

.orange .reg-button{background:#ff6600;}

.green .reg-button{background:#b1fe00;}

.precovery-back{
	color: #dfdfdf;
	font-family: pragmaticacregular;
	font-size: 18px;
	position: relative;
  	padding-left: 50%;
  	left: -31%;
  	bottom: 1px;
}

.rmobile{
	position: relative;
}

.plus{
	position: absolute;
	left: 5px;
  	top: 2px;
  	display: none;
}

.mobile-inp{
	padding: 2px 6px 0px 16px !important;
	width: 146px !important;
}