
.idea/
accounts/__pycache__/
accounts/migrations/__pycache__/
accounts/static/css/vendor/
accounts/templatetags/__pycache__/
cart/__pycache__/
cart/migrations/__pycache__/
cart/templatetags/__pycache__/
celerybeat-schedule.db
chat/__pycache__/
chat/migrations/__pycache__/
chat/templatetags/__pycache__/
common/__pycache__/
complaints/__pycache__/
complaints/migrations/__pycache__/
db.sqlite3
goods/__pycache__/
goods/migrations/__pycache__/
goods/static/css/categories/bootstrap-datetimepicker-master2/bootstrap-datetimepicker-master/.gitignore
goods/static/js/add_good/bootstrap-datetimepicker-master2/bootstrap-datetimepicker-master/.gitignore
goods/templatetags/__pycache__/
logfile
main/__pycache__/
main/migrations/__pycache__/
main/templatetags/__pycache__/
media
orders/__pycache__/
orders/migrations/__pycache__/
pages/__pycache__/
redis-3.2.0/
storesb/__pycache__/
storesb/local_settings.py

