* { margin: 0; padding: 0; list-style: none; text-decoration: none;}
html, body { 
	background:url(../../images/wishlist/bg.png);
}

textarea:focus, input:focus{
	outline: none;
}

input{text-align:center;}

.clear{clear:both;}

.black{background:#000000;}
.greenheader{background: #b1fe00;}
.orangeheader{background: #ff6600;}
.greyheader{background: #f1f1f1;}
.whiteheader{background: #ffffff;}

#up{
	width:48px;
	height:26px;
	background:url(../../images/wishlist/up.png);
	position:fixed;
	right:9%;
	top:100px;
	cursor:pointer;
}

#vitrina-icon-bottom{
	width:77px;
	height:76px;
	display:block;
	position:fixed;
	left:8%;
	bottom:20px;
}
#vitrina-icon-bottom img{
	width:67px;
	height:66px;
	left: 5px;
	top: 5px;
	position: relative;
}

#vitrina-icon-bottom:hover img{
	width:77px;
	height:76px;
	top:0;
	left:0;
}

#vitrina-icon-bottom:hover span{
	width:20px;
	height:20px;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
	left:0px;
}

#vitrina-icon-bottom span{
	display:block;
	-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
	position:absolute;
	width:16px;
	height:16px;
	background:#f80606;
	top:55px;
	z-index:999;
	left: 4px;
}

#cart-icon-bottom{
	display:block;
	position:fixed;
	right:8%;
	bottom:20px;
	width:77px;
	height:76px;
}

#cart-icon-bottom img{
	width:67px;
	height:66px;
	left: 5px;
	top: 5px;
	position: relative;
}

#cart-icon-bottom:hover img{
	width:77px;
	height:76px;
	top:0;
	left:0;
}

#cart-icon-bottom:hover span{
	width:20px;
	height:20px;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
}

#cart-icon-bottom span{
	display:block;
	-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
	position:absolute;
	width:16px;
	height:16px;
	background:#f80606;
	top: 55px;
	left: 55px;
	z-index:999;
}

#wrapper{
	width:900px;
	margin:0 auto;
	position:relative;
}

header{
	width:900px;
	height:62px;
	padding:20px 0 0 0px;
	border-bottom:1px solid #bfbfbf;
}

header ul li{
	height:39px;
	float:left;
	margin:0 0 0 0;
	position:relative;
}

header ul li span{
	display:block;
	position:absolute;
	background:#f80606;
	height:12px;
	padding:3px 2px 0 2px;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	font-size:8px;
	font-family:Arial;
	color:#ffffff;
	text-align:center;
	right: 27px;
	top:25px;
}

header ul li a{display:block; width:41px; height:39px;}

header ul li:nth-of-type(7) span{right: -5px !important;}
header ul li:nth-of-type(8) span{right: -5px !important;}
header ul li:nth-of-type(9) span{right: -5px !important;}
header ul li:nth-of-type(10) span{right: -5px !important;}
header ul li:nth-of-type(11) span{right: -5px !important;}

.green header ul li:nth-of-type(1) div{background:url(../../images/wishlist/1-green-menu.png) center center no-repeat; width:41px; margin-left:29px; height:39px;}
.green header ul li:nth-of-type(2) a{background:url(../../images/wishlist/2-green-menu.png) center center no-repeat; width:34px; margin-left:34px;}
.green header ul li:nth-of-type(3) a{background:url(../../images/wishlist/3-green-menu.png) center center no-repeat; width:40px; margin-left:38px;}
.green header ul li:nth-of-type(4) a{background:url(../../images/wishlist/4-green-menu.png) center center no-repeat; width:39px; margin-left:36px;}
.green header ul li:nth-of-type(5) a{background:url(../../images/wishlist/5-green-menu.png) center center no-repeat; width:34px; margin-left:41px;}
.green header ul li:nth-of-type(6) a{background:url(../../images/wishlist/avatar-green-menu.png) center center no-repeat; width:70px !important; height:66px !important; position:relative; top:-13px; margin-left:49px;}
.green header ul li:nth-of-type(7) a{background:url(../../images/wishlist/6-green-menu.png) center center no-repeat; width:41px; margin-left:51px;}
.green header ul li:nth-of-type(8) a{background:url(../../images/wishlist/7-green-menu.png) center center no-repeat; width:39px; margin-left:32px;}
.green header ul li:nth-of-type(9) a{background:url(../../images/wishlist/8-green-menu.png) center center no-repeat; width:41px; margin-left:37px;}
.green header ul li:nth-of-type(10) a{background:url(../../images/wishlist/9-green-menu.png) center center no-repeat; width:39px; margin-left:38px;}
.green header ul li:nth-of-type(11) div{background:url(../../images/wishlist/10-green-menu.png) center center no-repeat; width:40px; margin-left:34px; height:39px;}

.orange header ul li:nth-of-type(1) div{background:url(../../images/wishlist/1-green-menu.png) center center no-repeat; width:41px; margin-left:29px; height:39px;}
.orange header ul li:nth-of-type(2) a{background:url(../../images/wishlist/2-orange-menu.png) center center no-repeat; width:34px; margin-left:34px;}
.orange header ul li:nth-of-type(3) a{background:url(../../images/wishlist/3-orange-menu.png) center center no-repeat; width:40px; margin-left:38px;}
.orange header ul li:nth-of-type(4) a{background:url(../../images/wishlist/4-orange-menu.png) center center no-repeat; width:39px; margin-left:36px;}
.orange header ul li:nth-of-type(5) a{background:url(../../images/wishlist/5-orange-menu.png) center center no-repeat; width:34px; margin-left:41px;}
.orange header ul li:nth-of-type(6) a{background:url(../../images/wishlist/avatar-orange-menu.png) center center no-repeat; width:70px !important; height:66px !important; position:relative; top:-13px; margin-left:49px;}
.orange header ul li:nth-of-type(7) a{background:url(../../images/wishlist/6-orange-menu.png) center center no-repeat; width:41px; margin-left:51px;}
.orange header ul li:nth-of-type(8) a{background:url(../../images/wishlist/7-orange-menu.png) center center no-repeat; width:39px; margin-left:32px;}
.orange header ul li:nth-of-type(9) a{background:url(../../images/wishlist/8-orange-menu.png) center center no-repeat; width:41px; margin-left:37px;}
.orange header ul li:nth-of-type(10) a{background:url(../../images/wishlist/9-orange-menu.png) center center no-repeat; width:39px; margin-left:38px;}
.orange header ul li:nth-of-type(11) div{background:url(../../images/wishlist/10-green-menu.png) center center no-repeat; width:40px; margin-left:34px; height:39px;}

.white header ul li:nth-of-type(1) div{background:url(../../images/wishlist/white1.png) center center no-repeat; width:41px; margin-left:29px; height:39px;}
.white header ul li:nth-of-type(2) a{background:url(../../images/wishlist/white2.png) center center no-repeat; width:34px; margin-left:34px;}
.white header ul li:nth-of-type(3) a{background:url(../../images/wishlist/white3.png) center center no-repeat; width:40px; margin-left:38px;}
.white header ul li:nth-of-type(4) a{background:url(../../images/wishlist/white4.png) center center no-repeat; width:39px; margin-left:36px;}
.white header ul li:nth-of-type(5) a{background:url(../../images/wishlist/white5.png) center center no-repeat; width:34px; margin-left:41px;}
.white header ul li:nth-of-type(6) a{background:url(../../images/wishlist/white6.png) center center no-repeat; width:70px !important; height:66px !important; position:relative; top:-13px; margin-left:49px;}
.white header ul li:nth-of-type(7) a{background:url(../../images/wishlist/white7.png) center center no-repeat; width:41px; margin-left:51px;}
.white header ul li:nth-of-type(8) a{background:url(../../images/wishlist/white8.png) center center no-repeat; width:39px; margin-left:32px;}
.white header ul li:nth-of-type(9) a{background:url(../../images/wishlist/white9.png) center center no-repeat; width:41px; margin-left:37px;}
.white header ul li:nth-of-type(10) a{background:url(../../images/wishlist/white10.png) center center no-repeat; width:39px; margin-left:38px;}
.white header ul li:nth-of-type(11) div{background:url(../../images/wishlist/white11.png) center center no-repeat; width:40px; margin-left:34px; height:39px;}


footer{
	width:900px;
	margin:20px auto 30px;
}

footer h3{
	color:#000;
	width:900px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	font-family:arial;
	text-transform:uppercase;
}

#copyright{
	color:#000;
	width:900px;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	font-family:arial;
	text-transform:uppercase;
}

#social{background:url(../../images/wishlist/social.png) no-repeat; width:155px; height:20px; margin:20px auto;}

#social li{float:left; margin-left:6px;}

#social li:first-child{margin:0;}

#social li a{
	width:20px;
	height:20px;
	display:block;
}

.wishlist{
	width: 900px;
	min-height: 1830px;
	background: #f1f1f1;
	padding-bottom: 100px;
}

.wishlist-left-block{
	width: 242px;
	float: left;
	margin-right: 8px;
}

.wishlist-info{
	float: right;
}

#wishlist-user-name{
	color:#000;
	font-size:14px;
	font-family:Arial;
	text-align: right;
  	margin-top: 11px;
  	display: block;
}

#wishlist-from-site{
	background:url(../../images/wishlist/site.png) no-repeat 22px center;
	color:#000;
	font-size:10px;
	font-family:Arial;
	height:18px;
	padding:10px 0 0 36px;
	margin:-7px 0px 0 0;
	text-align: right;
}

.wishlist-time{
	text-align: right;
	font-family: Arial;
	font-size: 10px;
	color:#919395;
	position: relative;
  	top: -4px;
}

#wishlist-tags{
	padding:0px;
	width:100%;
	position: relative;
  	top: -4px;
  	text-align: right;
}

#wishlist-tags a{
	color:#000;
	font-size:10px;
	font-family:Arial;	
	margin:0 0 0 10px;
}

.wishlist-ava{
	float: right;
}

.wishlist-right-block{
	width: 398px;
	float: left;
	border: 1px solid #9a9c9e;
	background: #fff;
	padding-bottom: 6px;
	margin-top: 9px;
	position: relative;
}

.discount{
	position: absolute;
	width: 112px;
	height: 32px;
	background: #ff6600;
	color:#fff;
	text-align: center;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	padding-top: 13px;
}

.discount-column2{
	position: absolute;
	width: 95px;
	height: 26px;
	background: #ff6600;
	color:#fff;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	padding-top: 11px;
}

.auction{
	width: 112px;
	height: 39px;
	background: #fff;
	position: absolute;
	text-align: center;
	padding: 5px 0 0 0;
}

.auction p{
	color: #000000;
	font-size: 9px;
	font-family: Arial;
}

.auction-first{
	float: left;
	height: 16px;
	padding-right: 3px;
	font-size: 14px;
	font-family: Arial;
	color: #000000;
	position: relative;
	left:7px;
	top:5px;
}

.auction-second{
	float: left;
	height: 16px;
	border-right: 1px solid #bfbfbf;
	padding-right: 10px;
	font-size: 14px;
	font-family: Arial;
	color: #000000;
	margin-right: 10px;
	position: relative;
	left:7px;
	top:5px;
}

.auction-last{
	float: left;
	height: 16px;
	font-size: 14px;
	font-family: Arial;
	color: #000000;
	position: relative;
	left:7px;
	top:5px;
}







.auction-column2{
	width: 95px;
	height: 32px;
	background: #fff;
	position: absolute;
	text-align: center;
	padding: 5px 0 0 0;
}

.auction-column2 p{
	color: #000000;
	font-size: 9px;
	font-family: Arial;
}

.auction-first-column2{
	float: left;
	height: 11px;
	padding-right: 3px;
	font-size: 12px;
	font-family: Arial;
	color: #000000;
	position: relative;
	left:7px;
	top:3px;
}

.auction-second-column2{
	float: left;
	height: 13px;
	border-right: 1px solid #bfbfbf;
	padding-right: 5px;
	font-size: 12px;
	font-family: Arial;
	color: #000000;
	margin-right: 6px;
	position: relative;
	left:8px;
	top:3px;
}

.auction-last-column2{
	float: left;
	height: 11px;
	font-size: 12px;
	font-family: Arial;
	color: #000000;
	position: relative;
	left:8px;
	top:3px;
}

.fix-price{
	color:#848689;
	font-size: 15px;
	font-family: Arial;
	float: left;
	text-align: center;
	margin-left: 125px;
	margin-right: 3px;
	margin-top: 5px;
	width: 80px;
	font-weight: bold;
}

.fix-price-column2{
	margin-left: 60px !important;
}

.fix-price span{
	color:#848689;
	font-size: 10px;
	font-family: Arial;
}

.auction-price{
	color:#000000;
	font-size: 15px;
	font-family: Arial;
	float: left;
	text-align: center;
	margin-top: 5px;
	width: 70px;
	font-weight: bold;
}

.auction-price span{
	color:#848689;
	font-size: 10px;
	font-family: Arial;
}


#mini-thumbs-wishlist-slider{
	width:74px;
	height:49px;
	display:block;
	float:left;
	padding:1px;
}

#wishlist-slider-button{
	width:100%; float:left; overflow:hidden; position:relative;
}

#wishlist-slider-button ul{
	text-align:center; clear:left; float:left; position:relative; left:50%;
}

#wishlist-slider-button ul li{
	display:block; float:left; position:relative; right:50%;
	margin:0 0px 0 4px;
}

#wishlist-slider-button ul li:first-child{margin-left:0px;}

#wishlist-title{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#000;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	margin:11px 0 0 0;
}

#wishlist-condition{
	font-family:Arial;
	font-size:12px;
	color:#000;
	width:100%;
	text-align:center;
	margin:6px 0 0 0;
}

#wishlist-adress{
	font-family:Arial;
	font-size:12px;
	color:#000;
	text-align:center;
	margin:1px 0 0 0;
	background:url(../../images/wishlist/adress-icon.png) no-repeat;
	padding:0 0 0 12px;
	width:150px; /* changed by V. Y. */
	height:14px;
	margin:9px auto 0;
	display: block;
}

#wishlist-delivery{
	font-family:Arial;
	font-size:12px;
	color:#000;
	width:100%;
	text-align:center;
	margin:9px 0 0 0;
}

#wishlist-number{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#000;
	width:100%;
	text-align:center;
	margin:9px 0 0 0;
}

#wishlist-old-price{
	font-family:Arial;
	font-size:15px;
	color:#848689;
	width:100%;
	text-align:center;
	margin:7px 0 0px 0;
	text-decoration: line-through;
	font-weight: bold;
}

#wishlist-price{
	font-family:Arial;
	font-size:15px;
	color:#000;
	width:100%;
	text-align:center;
	margin:0px 0 11px 0;
	font-weight: bold;
}

#wishlist-price2{
	font-family:Arial;
	font-size:24px;
	color:#000;
	width:100%;
	text-align:center;
	margin:11px 0 11px 0;
}

#wishlist-sale{
	width:100px;
	height:15px;
	text-transform:uppercase;
	font-family:Arial;
	font-size:10px;
	color:#fff;
	display:block;
	text-align:center;
	padding:4px 0 0 0;
	margin:6px auto 0;
}

.green #wishlist-sale{background:#b1fe00;}
.orange #wishlist-sale{background:#ff6600;}

#wishlist-cart{
	width:98px;
	height:14px;
	text-transform:uppercase;
	font-family:Arial;
	font-size:10px;
	display:block;
	text-align:center;
	padding:3px 0 0 0;
	margin:7px auto 0;
	font-weight:bold;
}

.green #wishlist-cart{color:#b1fe00; border:1px solid #b1fe00;}
.orange #wishlist-cart{color:#ff6600; border:1px solid #ff6600;}

#wishlist-statistics{
	background:url(../../images/wishlist/statistics-icon-modal.png) no-repeat;
	width:146px;
	height:12px;
	margin:15px auto 0;
}

#wishlist-statistics li{
	float:left;
	width:14px;
	height:12px;
	padding:2px 0 0 14px;
	margin:0 0 0 0px;
	color:#bbbdbf;
	font-size:9px;
	font-family:Arial;
}

#wishlist-statistics li:first-child{margin:0;}
#wishlist-statistics li:nth-of-type(4){padding-left:18px;}
#wishlist-statistics li:nth-of-type(5){padding-left:16px;}

#wishlist-likes-block{
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	padding:8px 10px 7px 0px;
	color:#000;
	font-size:12px;
	font-family:Arial;	
	font-weight:bold;
	margin:4px 0 0 0;
}

.wishlist-likes-block-column2{
	font-size:9px !important;
	padding-bottom: 11px !important;
	height: 22px;
}

.wishlist-likes-block-column2 a{
	font-size:10px !important;
}

.wishlist-likes-block-column2 .wishlist-like{height: 41px !important;}

.wishlist-like{
	background:url(../../images/wishlist/likes-icon.png) no-repeat center center;
	cursor: pointer;
	display: block;
	width: 43px;
	/*changed by VY*/
	/*height: 43px;*/
    height: 31px;
	border-right: 1px solid #d0d2d3;
	float: left;
	position: relative;
	top: -8px;
	margin-right: 16px;
}

.likes-icon-check{
	background:url(../../images/wishlist/likes-icon-check.png) no-repeat center center !important;
}

#wishlist-likes-block a{
	color:#000;
	font-size:12px;
	font-family:Arial;	
	font-weight:bold;
}

#scroll-users{
	position:relative;
	width:36px;
	height:36px;
	float:left;
}

#scroll-users-ramka{
	position:absolute;
	top:0px;
	left:0px;
	background:url(../../images/wishlist/ramka-scroll.png) no-repeat;
	width:36px;
	height:36px;
	display: block;
}

#wishlist-user-message{
	float:left;
	color:#000;
	font-size:14px;
	font-family:Arial;
	margin:10px 0 0 14px;
}

.more-comments{
  	font-family: Arial;
  	font-size: 12px;
  	color: #919395;
  	display:block;
  	margin: 10px auto;
  	width: 130px;
}

#wishlist-scroll-comments{
	margin-top: 10px;
}

#wishlist-scroll-comments li{
	margin:0 0 14px 0;
	padding-left: 10px;
}

.wishlist-input-comment{
	width:270px;
	height:28px;
	border:1px solid #d1d2d3;
	color:#b5b5b5;
	font-size:14px;
	font-family:Arial;
	padding:0 10px;
	margin:16px 0 0 10px;
	text-align: left;
}

.wishlist-input-comment::-webkit-input-placeholder         {color:#b5b5b5;}
.wishlist-input-comment::-moz-placeholder     {color:#b5b5b5;} 
.wishlist-input-comment::-moz-placeholder      {color:#b5b5b5;} 
.wishlist-input-comment::-ms-input-placeholder {color:#b5b5b5;} 

.wishlist-sendsubmit{
	position:relative;
	top:10px;
}

#wishlist-user-block{
	position:relative;
	width:43px;
	height:43px;
	margin:9px 0 0 7px;
	float:left;
}

#wishlist-avatar{
	width:43px;
	height:43px;	
}

#wishlist-avatar-border{
	background:url(../../images/wishlist/ramka.png) no-repeat;
	position:absolute;
	width:43px;
	height:43px;
	top:0px;
	left:0px;
	display: block;
}

#wishlist-avatar-border-main{
	background:url(../../images/wishlist/ramka-grey.png) no-repeat;
	position:absolute;
	width:43px;
	height:43px;
	top:0px;
	left:0px;
	display: block;
}

.wishlist-container-column2{
	width: 601px;
	margin: 0px auto;
	position: relative;
	left: 20px;
	top:8px;
}

.wishlist-container-column3{
	width: 900px;
	margin: 0px auto;
	position: relative;
	left: 38px;
	top:8px;
}

.wishlist-column2{
	width: 258px;
	border: 1px solid #919395;
	background: #fff;
	padding-bottom: 7px;
	float: left;
	margin: 0 40px 12px 0;
}

.wishlist-column2{
	width: 258px;
	border: 1px solid #919395;
	background: #fff;
	padding-bottom: 7px;
	float: left;
	margin: 0 40px 12px 0;
}

.wishlist-column3{
	width: 258px;
	border: 1px solid #919395;
	background: #fff;
	padding-bottom: 7px;
	float: left;
	margin: 0 20px 12px 0;
}

#wishlist-user-block-column2{
	position:relative;
	width:43px;
	height:43px;
	margin:9px auto 4px;
}

#wishlist-user-name-column2{
	color:#000;
	font-size:14px;
	font-family:Arial;
	text-align: center;
  	margin-top: 0px;
  	display: block;
}

#wishlist-from-site-column{
	background:url(../../images/wishlist/site-column2.png) no-repeat 55px 2px;
	color:#000;
	font-size:10px;
	font-family:Arial;
	height:18px;
	padding:10px 0 0 82px;
	margin:-7px 0px 0 0;
	text-align: right;
	display:block;
}

#wishlist-from-site-column2{
	background:url(../../images/wishlist/site-column2.png) no-repeat 55px 2px;
	color:#000;
	font-size:10px;
	font-family:Arial;
	height:18px;
	padding:10px 0 0 82px;
	margin:-7px 0px 0 0;
	text-align: left;
	display:block;
}

#wishlist-tags-column2{
	padding:0px;
	width:100%;
	position: relative;
  	top: -4px;
  	text-align: center;
}

#wishlist-tags-column2 a{
	color:#000;
	font-size:10px;
	font-family:Arial;	
	margin:0 5px 0 5px;
}

.wishlist-time-column2{
	text-align: center;
	font-family: Arial;
	font-size: 10px;
	color:#919395;
	position: relative;
  	top: -4px;
}


.wishlist-input-comment-column2{
	width:130px;
	height:28px;
	border:1px solid #d1d2d3;
	color:#b5b5b5;
	font-size:12px;
	font-family:Arial;
	padding:0 10px;
	margin:16px 0 0 10px;
	text-align: left;
}