
.photo-centre {
	text-align: center;
}
.name {
	width: 96%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-top: 4px;
    padding-bottom: 3px;
    color: #000000;
}
.first-block {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}
.second-search-box {
	text-align: center;
}
body {
	font-family: Arial,sans-serif;
	text-transform: uppercase;

}
.filter {
	  width: 900px;
  background: #f1f1f1;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
  left: 50%;
}
.filter.filter-open {
	position:absolute;
  bottom:-33px !important;



}
.bottom-filter {
	background: #f1f1f1;
}
.black {
	color: #ebebeb;
	text-align: center;
}
.info-words {
  padding-top: 10px;
  padding-bottom: 0;
  background: #f1f1f1;
}
.info-words li {
	float: left;
	width: 20%;
	font-size: 12px;
}
.clearfix {
	content: "";
	clear: both;
}
.result p {
	text-align: center;
	font-size: 12px;
	margin-bottom: 5px;
}
.done li {
	float: left;
	font-size: 12px;
	padding-bottom: 15px;
}
.done li:first-of-type {
    width: 33%;
    text-align: right;
}
.done li:last-of-type {
	width: 33%;
    text-align: left;
}

.from-prise, .from {
	float: left;
}
.cost input {
	 padding-top: 5px;
  font-size: 12px;
  padding-bottom: 5px;
  width: 262px;
  text-align: center;
}


.cost {
	text-align: center;
	margin-top: 10px;
}
.mini-box {
	background: #dfdfdf;
    width: 2%; 
    font-size: 12px;
    padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.mini-box:first-of-type {
	  margin-left: 17px;
}

.from {
  float: left;
  width: 35%;
    text-align: right;
}

.block-price {
  width: 24%;
  line-height: 22px;
  text-align: center;
}

.from-prise {
	width: 90%;
}
input .rankings {
	text-align: center;
}
.before {
	float: left;
}
.difference {
	text-align: left;
	width: 100%;
}
.from-prise input {
	width: 100%;
    box-sizing: border-box;
}
.block-price {
  width: 30%;
  text-align: right;
  float: left;
}
#open-category {
  text-align: center;
}
.rang {

	font-size: 11px;
  text-align: center;

}
.name input::-webkit-input-placeholder {color:#000000;}
.name input::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
.name input:-moz-placeholder           {color:#000000;}/* Firefox 18- */
.name input:-ms-input-placeholder      {color:#000000;}

.info .from {
	text-align: center;
	  font-size: 10px;
	  width: 20%;
}

.okay {
	font-weight: bold;
    text-align: center;
    width: 34%;
}
.okay a {
 color: #000000;
}

.from input .input-costs {
	width: 100%;
    box-sizing: border-box;
}

.cost .costs-end {
  width: 35%;
  float: left;
  text-align: left;
}
.open-bottom {
	width: 15px;
	}

.words-bottom {
	margin-bottom: 10px;
}
.filter-toggle {
  position: fixed;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2001;
}
.filter {
	display:none;
	z-index:2000;
}
.hidden-goods p {
  width: 25%;
  display: inline-block;
  margin-left: -4px;
  line-height: 12px;
  text-align:center;

}
.condition, 
.form-deal, .options {
	display: block;
	float: left;
	width: 18.5%;;
	margin: 0 auto;
}

.form-deal p,
 .condition p, .options p,
 .cooperation p {
  font-family: Arial,sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.location, .cooperation {
	width: 22%;
}
.location-input {
	width: 170px;
  padding-top: 5px;
  font-size: 10px;
  padding-bottom: 5px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #000000;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.location p, .cooperation p {
  font-family: Arial,sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.filter-toggle.static {
  position: relative;
  transform: none;
  text-align: center;
  left: 0;
}
.filter-toggle-inner {
	position: absolute;
  top: -40px;
 -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
/*.filter:before {
	  background: url('../images/toggle-filter.png') no-repeat;
  position: absolute;
  top: -30px;
  left: 50%;
  content: "";
  width: 65px;
  height: 65px;
  background-size: 100%;
  transform: TranslateX(-50%);
  z-index: 2010;
}*/
.big-hidden-block {
	display:none;
}

.open-window {
	display: none;
}
.open-caegory {
  text-align: center;
}

.slick-initialized .slick-slide {
  display: block;
  font-size: 11px;
  font-family: Arial,sans-serif;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  width:100% !important;
}
.first-block .ui-state-default, 
.first-block .ui-widget-content .ui-state-default,
.first-block .ui-widget-header .ui-state-default {
  background: #dfdfdf;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 4px 7px;
  padding-right: 8px;
  font-weight: normal;
  border: none;
  text-align: center;
}

.first-block .ui-slider-horizontal .ui-slider-handle {
  top: -4px;
  margin-left: -12px;

}
.first-block {
    background: #f1f1f1;
}
.first-block .ui-slider-horizontal {
  height: 15px;
  }

.first-block .ui-widget-header {
  border: none;
  background: #ffffff url(../../images/user_page/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
  color: #ffffff;
}
.filter input {
  border:none;
}

.filter .first-block .second-search-box .name input::-webkit-input-placeholder {color:#000000;}
.filter .first-block .second-search-box .name input::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
.filter .first-block .second-search-box .name input:-moz-placeholder           {color:#000000;}/* Firefox 18- */
.filter .first-block .second-search-box .name input:-ms-input-placeholder      {color:#000000;}


.first-block .ui-corner-all, 
.first-block .ui-corner-bottom, 
.first-block .ui-corner-right, 
.first-block .ui-corner-br,

.first-block .ui-corner-all, 
.first-block .ui-corner-bottom,
.first-block .ui-corner-left, .ui-corner-bl,

.first-block .ui-corner-all,
.first-block .ui-corner-top, 
.first-block .ui-corner-right, 
.first-block .ui-corner-tr,
.first-block .ui-corner-all, 
.first-block .ui-corner-top, 
.first-block .ui-corner-left, 
.first-block .ui-corner-tl
 {
  border-radius:0;
}

#price-range {
  width: 93%;
  margin: 0 auto;
}

.swipe-wrap > div {
  float:left;
  width:100% !important;
  min-height:30px;
  position: relative;
  overflow: hidden;
} 
.clearAll, .closeAll, 
.open-bottom, .photo-centre,
.black {
  cursor: pointer;
}

.show {
	display: block;
}
