* { margin: 0; padding: 0; list-style: none; text-decoration: none;}
html, body { 
	background:url(../../images/user_search/bg.png);
}
body {
position:relative;

}


.clear{clear:both;}

.black {
  background: #383838;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 2px solid #000;
}

.info .black {
     border-top: 2px solid #000;
}
.greenheader{background: #b1fe00;}
.orangeheader{background: #ff6600;}
.greyheader{background: #f1f1f1;}
.whiteheader{background: #ffffff;}

#up{
	width:48px;
	height:26px;
	background:url(../../images/user_search/up.png);
	position:fixed;
	right:9%;
	top:100px;
	cursor:pointer;
}

#vitrina-icon-bottom{
	width:77px;
	height:76px;
	display:block;
	position:fixed;
	left:8%;
	bottom:20px;
	z-index: 2002;
}
#vitrina-icon-bottom img{
	width:67px;
	height:66px;
	left: 5px;
	top: 5px;
	position: relative;
	z-index: 2002;
}

#vitrina-icon-bottom:hover img{
	width:77px;
	height:76px;
	top:0;
	left:0;
}

#vitrina-icon-bottom:hover span{
	width:20px;
	height:20px;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
	left:0px;
}

#vitrina-icon-bottom span{
	display:block;
	-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
	position:absolute;
	width:16px;
	height:16px;
	background:#f80606;
	top:55px;
	z-index:40002;
	left: 4px;
}

#cart-icon-bottom{
	display:block;
	position:fixed;
	right:8%;
	bottom:20px;
	width:77px;
	height:76px;
	z-index: 2002;
}

#cart-icon-bottom img{
	width:67px;
	height:66px;
	left: 5px;
	top: 5px;
	position: relative;
	z-index: 2002;
}

#cart-icon-bottom:hover img{
	width:77px;
	height:76px;
	top:0;
	left:0;
}

#cart-icon-bottom:hover span{
	width:20px;
	height:20px;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
}

#cart-icon-bottom span{
	display:block;
	-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
	position:absolute;
	width:16px;
	height:16px;
	background:#f80606;
	top: 55px;
	left: 55px;
	z-index:2999;
}

#wrapper{
	width:900px;
	margin:0 auto;
	position:relative;
}

header{
	width:900px;
	height:62px;
	padding:20px 0 0 0px;
	border-bottom:1px solid #bfbfbf;
}

.status .auction .slick-slider {
	margin-bottom: 0px;
}

header ul li{
	height:39px;
	float:left;
	margin:0 0 0 0;
	position:relative;
}

header ul li span{
	display:block;
	position:absolute;
	background:#f80606;
	height:12px;
	padding:3px 2px 0 2px;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	font-size:8px;
	font-family:Arial;
	color:#ffffff;
	text-align:center;
	right: 27px;
	top:25px;
}

#post-header{
	width:900px;
	margin-bottom:2px;
}

#post-header-button1{
	width:390px;
	height:100px;
	border-bottom:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	float:left;
	display:block;
	background: #e9e9e9;
	text-align: center;
}

#post-header-button1 img, #post-header-button3 img{
	padding-top: 20px;
}

#post-header-button1 h4{
	text-align:center;
	color:#ffffff;
	font-weight:normal;
	font-family:Arial;
	font-size:14px;
	text-transform:uppercase;
	margin-top:25px;
}

#post-header-button1 h5{
	text-align:center;
	color:#bcbec0;
	font-weight:normal;
	font-family:Arial;
	font-size:30px;
	text-transform:uppercase;
	margin-top:8px;
	margin-left:-3px;
}

#post-header-button2 {
	width:119px;
	height:100px;
	border-bottom:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	float:left;
	display:block;
	box-sizing: border-box;
    padding-top: 30px
}

.green #post-header-button2{background:#ffffff url(../../images/user_search/main-cart-icon.png) center center no-repeat;}
.orange #post-header-button2{background:#ffffff url(../../images/user_search/main-vitr-icon.png) center center no-repeat;}

#post-header-button3 {
	width:389px;
	height:100px;
	border-bottom:1px solid #bfbfbf;
	float:left;
	display:block;
	background: #e9e9e9;
	text-align: center;
}

#time-tabs li {
	width:300px;
	height:33px;
	float:left;
	cursor:pointer;
	color:#7a7a7a;
	font-family:Arial;
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	padding:12px 0 0 0;
}

.active-time-tabs{background:#dcdcdc;}

#multiblocks-box {
	
}

#pagination-block {
	width:900px;
	height:56px;
	padding:23px 0 0 0;
	float:left; overflow:hidden; position:relative;
}

#pagination-block ul { text-align:center; clear:left; float:left; position:relative; left:50%; }

#pagination-block ul li{
	float:left;
	margin:0 20px;
	display:block; 
	position:relative; 
	right:50%;
}

#pagination-block ul li a{
	color:#000000;
	font-size:12px;
	font-weight:bold;
	font-family:Arial;
}

.green .active-pag{color:#b1fe00 !important;}
.orange .active-pag{color:#ff6600 !important;}

#pagination-block ul li:first-child{
	margin-right:0px !important;
}

#pagination-block ul li:last-of-type{
	margin-left:0px !important;
}

#pagination-block .prev{
	display:block;
	width:9px;
	height:16px;
	background:url(../../images/user_search/prev-pag.png) center center no-repeat;
	float:left;
	position:relative;
	top:1px;
}

#pagination-block .next{
	display:block;
	width:9px;
	height:16px;
	background:url(../../images/user_search/next-pag.png) center center no-repeat;
	float:left;
	position:relative;
	top:1px;
	margin-right:0px !important;
}

#banner-block{
	width:900px;
}

#banner1{
	width:263px;
	height:89px;
	background:#e9e9e9;
	color:#000;
	font-weight:bold;
	font-size:14px;
	margin:0 11px 0 0;
	float:left;
	display:block;
}

#banner2{
	width:353px;
	height:89px;
	background:#e9e9e9;
	color:#000;
	font-weight:bold;
	font-size:14px;
	margin:0 11px 0 0;
	float:left;
	display:block;
}

#banner3{
	width:259px;
	height:89px;
	background:#e9e9e9;
	color:#000;
	font-weight:bold;
	font-size:14px;
	float:left;
	display:block;
}

footer{
	width:900px;
	margin:20px auto 30px;
	position: absolute;
	bottom:0;
	left:50%;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%)
	
}
body {
	    min-height: 100vh;
}

footer h3{
	color:#000;
	width:900px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	font-family:arial;
	text-transform:uppercase;
}

#copyright {
	color:#000;
	width:900px;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	font-family:arial;
	text-transform:uppercase;
}

#social {background:url(../../images/user_search/social.png) no-repeat; width:155px; height:20px; margin:20px auto;}

#social li{float:left; margin-left:6px;}

#social li:first-child{margin:0;}

#social li a{
	width:20px;
	height:20px;
	display:block;
}

#category-container{
	padding:15px 0 0 15px;
	background:#e9e9e9;
	width:885px;
	min-height:590px;
	border-bottom:1px solid #bfbfbf;
	margin-bottom: 10px;
}

#category-container #category {width: 163px; float: left; margin: 0 14px 10px 0; background:#fff; border-bottom:1px solid #afafaf;
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 1);
overflow:hidden;

}

#sort-min {
	height:34px;
	padding:20px 0 0 0;
	width:100%;
	background:#e9e9e9;
	display:block !important;
	border-bottom: 1px solid #bfbfbf;
}

#sort-min-price{margin:0 0 0 190px; float:left;}

#sort-down{
	display:block;
	float:left;
	width:27px;
	height:16px;
	background:url(../../images/user_search/sort-down.png) no-repeat;
	margin-right:30px;
}

#sort-min-price span{
	font-size:14px;
	color:#8d8d8d;
	font-family:Arial;
	display:block;
	float:left;
	text-transform:uppercase;
	font-weight:bold;
}

#sort-min-data span {
	font-size:14px;
	color:#8d8d8d;
	font-family:Arial;
	display:block;
	float:left;
	text-transform:uppercase;
	font-weight:bold;
}

#sort-up {
	display:block;
	float:left;
	width:27px;
	height:16px;
	background:url(../../images/user_search/sort-up.png) no-repeat;
	margin-left:30px;
}

#sort-min-price-title {
	width:212px;
	text-align:center;
	font-size:18px;
	color:#959494;
	font-family:Arial;	
	float:left;
	position:relative;
	top:-2px;
}

#sort-min-data{float:left;}

#category > img{border-bottom:1px solid #bfbfbf;}

#site-min{
	display:block;
	height:13px;
	padding:0 0 0 18px;
	color:#505050;
	font-family:Arial;
	font-size:11px;
	background:url(../../images/user_search/site-icon-min.png) no-repeat;
	margin:0 0 0 12px;
}

#rev-min{
	margin:7px 0 0 12px;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

#place-min{
	display:block;
	height:14px;
	padding:0 0 3px 12px;
	background:url(../../images/user_search/place-icon-min.png) no-repeat left 3px;
	margin:13px 0 4px 12px;
}

#place-min a{
	color:#000000;
	font-family:Arial;
	font-size:11px;
}

#tags-min-block{
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	width:139px;
	padding:0 12px;
	margin:0 0 2px 0;
}

.tags-min{
	color:#bbbdbf;
	font-family:Arial;
	font-size:11px;
}

#modal-statistics{
	background:url(../../images/user_search/statistics-icon-modal.png) no-repeat;
	width:146px;
	height:12px;
	margin:3px auto 5px;
}

#modal-statistics li{
	float:left;
	width:14px;
	height:12px;
	padding:2px 0 0 14px;
	margin:0 0 0 0px;
	color:#bbbdbf;
	font-size:9px;
	font-family:Arial;
}

#modal-statistics li:first-child{margin:0;}
#modal-statistics li:nth-of-type(4){padding-left:18px;}
#modal-statistics li:nth-of-type(5){padding-left:16px;}

#icon-min{
	display:block;
	float:left;
	margin:0 7px 0 12px;
}

#category h4{
	font-weight:normal;
	color:#313131;
	font-size:11px;
	font-family:Arial;
}

#category h4 a{
font-weight:bold;
	color:#313131;
	font-size:11px;
	font-family:Arial;
	}

#category span{
	font-weight:normal;
	color:#313131;
	font-size:9px;
	font-family:Arial;
	position:relative;
	top:-5px;
}

#price-min{
	color:#000000;
	font-size:20px;
	font-family:Arial;
	font-weight:normal;
	float:right;
	margin:5px 9px 0px 0;
}
#wrapper-tabs > div {
    display:none;
}
#wrapper-tabs.tab1 div.tab1 {
    display:block;
    width:100%;
}
#wrapper-tabs.tab2 div.tab2 {
    display:block;
    width:100%;
}
#wrapper-tabs.tab3 div.tab3 {
    display:block;
    width:100%;
}
#wrapper-tabs.tab1 a.tab1 {
    cursor: default;
    text-decoration: none;
	color: #b1fe00;
	color: #ff6600;
	top: -2px;
	position: relative;
	border-bottom: 5px solid #b1fe00;
	border-bottom: 5px solid #ff6600;
}
#wrapper-tabs.tab2 a.tab2 {
    cursor: default;
    text-decoration: none;
    color: #b1fe00;
	color: #ff6600;
	top: -2px;
	position: relative;
	border-bottom: 5px solid #b1fe00;
	border-bottom: 5px solid #ff6600;
	
}
#wrapper-tabs.tab3 a.tab3 {
    cursor: default;
    text-decoration: none;
    color: #b1fe00;
	color: #ff6600;
	top: -2px;
	position: relative;
	border-bottom: 5px solid #b1fe00;
	border-bottom: 5px solid #ff6600;
	
}

#wrapper-tabs > span > a{
	width:300px;
	height:33px;
	float:left;
	cursor:pointer;
	color:#7a7a7a;
	font-family:Arial;
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	padding:12px 0 0 0;
	display:block;
	overflow:hidden;
}

#wrapper-tabs > span{display:block; height:45px;}

#non-content{
	color:#8d8d8d;
	font-size:18px;
	text-transform:uppercase;
	width:100%;
	text-align:center;
	font-family:Arial;
	position:relative;
	top:230px;
	right:7px;
}
/*-----------------------New Styles 29.05------------------*/
.price-min-wrapper #price-min.total-price {
	float:none;
	text-align: right;
	cursor:pointer;
}

.sum {
	width: 100%;
	font-size:21px;
	font-family:Arial, sans-serif;
	text-transform:uppercase;
	color: #959494;
	text-align: center;
	background: #e9e9e9;
	padding-top: 10px;
	position:relative;

}
.sum-text {
	font-size: 18px;
	font-family: Arial, sans-serif;
	color: #7b7b7b;

}
.price-min-wrapper .pay {
	background: #bdfe42;
	color: white;
	text-transform:uppercase;
	width: 165px;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid rgb(191, 191, 191);
	cursor:pointer;
}
#category .price-min-wrapper .left {
	color: #bbbdbf;
    font-family: Arial;
    font-size: 11px;
    width: 50%;
    padding-left: 10px;
    display: block;
    float: left;
    box-sizing: border-box;
}
#category .price-min-wrapper .right {
	width: 100%;
	font-family: Arial;
    font-size: 17px;
    text-transform:uppercase;
    display: block;
    text-align: right;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#category .price-min-wrapper .bold {
	font-weight: bold;
}

.price-min-wrapper {
	position: relative;
	padding-top:10px;
}
.price-min-wrapper p {
	line-height: 16px;
}
.price-min-wrapper p.hide {
	line-height:15px;
	margin-top: 5px;

}
.price-min-wrapper .hidden-price-panel {
	
	z-index:100000;
	background:white;
	
	display:none;
	position:relative;
	
	top:-1px;
	
}

.discount {
	width: 50px;
	background:#bdfe42; 
	background:#ff6600;
	color: white;
	text-transform:uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif; 
}
.counter {
 padding: 10px;
 background: #fff;
}
#category {
	position: relative;
}
.discount, .counter {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
    font-family: Arial, sans-serif; 
}
.big-cross, .big-cross-right {
	top: 110px;
	position: fixed;
	
	cursor:pointer;
}
.big-cross {
	left:0;
}
.big-cross-right {
	right:0;
}
#wrepper-tabs {
	position: relative;
}
.visibility-eye {
	position: fixed;
	top: 225px;
	left:0;
	display:block !important;
	cursor:pointer;
	padding-top: 20px;
}
#wrapper-tabs .sum {
	display: block;
}
 .visibility-eye img:first-of-type {
	display:none;
}
.visibility-eye img:last-of-type {
	display:block;
}
.visibility-eye.active img:first-of-type {
	display:block;
}
.visibility-eye.active img:last-of-type {
	display:none;
}
.additional-stats {
	display:none;
}
.additional-stats.show {
	display:block;
}

/*body {
	cursor:url(../images/cross-big-icon.png) 15 0, auto;
} */

#wrapper, footer {
	cursor:auto;
}
.cross-goods {
	width: 100%;
  	display: none;
}
.buy-block {
	width: 100%;
}
.act {
  width: 350px;
  background: #e9e9e9;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-family: Arial;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px auto;
}
.act a {
  color: #8d8d8d;
}
#post-header-button2 {
	text-align: center; 
	height:101px;
	padding-top: 24px;
}
.edit {
	text-transform: uppercase;
	background: #ff6600;
	color: white;
    text-transform: uppercase;
    width: 165px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(191, 191, 191);
    cursor: pointer;
}

.acquire {
	width: 100%;
    color: #505050;
	background: #ff6600;
	border: none;
	text-transform: uppercase;
	display: none;
	margin-top: 45px;
    padding: 10px;
    text-align: center;
}
.button-icons img {
	display: inline-block;
}
.button-icons .green-buttons.active,
.button-icons .orange-buttons.active {
	display:none;
}
.image-hover {
	display:block;
}
.image-hover:hover ~ .hidden-price-panel{
	background:Red;
}
.image-hover ~ .hidden-price-panel {
	display:block !important;
}
.promotional-banner {
	
	text-transform: uppercase;
	
	white-space: nowrap;
	overflow:hidden;
    text-align: center;
    margin-top: 5px;
    margin-bottom:  5px;
    color: #a1a1a1;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.promotional-banner .slide {
	display:inline-block;
	width:100%;
}
.promotional-banner .slide img {
	width:100%;
}
.search-box {
	background: #000000;
	color: #b1fe00;
	width: 100%;
	display:none;

}
.search-photo {
	padding: 10px;
	float: right;
	margin: 0;
}
.search-text {
	display: block;
 text-align: center;
 padding-bottom: 20px; 
 border-bottom: 3px solid #b1fe00;
	
}
.blackheader {
	background: #000000;
	color: #b1fe00;
}
.green-photos {
  height: 39px;
  float: left;
  margin: 0 0 0 0;
  position: relative;
  padding-left: 15px;
  padding-right: 21px;
  padding-bottom: 10px;
}
.central-photo {
    padding-left: 28px;
    padding-right: 36px;
    padding-bottom: 3px;
    box-sizing: border-box;
    position: relative;
    top: -10px;
}
.green-photos:first-of-type {
    padding-left: 29px;

}
.green-photos:nth-child(4) {
    padding-left: 13px;
    padding-right: 25px;
}
li.green-photos:nth-child(3) {
    padding-left: 16px;
}
header ul li:nth-of-type(2) span,
header ul li:nth-of-type(3) span,
header ul li:nth-of-type(4) span,
header ul li:nth-of-type(5) span {
	right:51px;
}
header ul li:nth-of-type(7) span,
header ul li:nth-of-type(8) span,
header ul li:nth-of-type(9) span,
header ul li:nth-of-type(10) span {
	right:15px;
}
.else {
	margin: 0 auto;
	text-align: center;
	background: #f1f1f1;
	width: 170px;
	margin-bottom: 10px;
	padding: 10px;
}
.else a {
	color: #8d8d8d;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

input[class="search"] {
	width: 80%;	
	border: none;
	background: #000000;
	color: #92da00;
	border-bottom: 2px solid #92da00;
	text-align: center;
	margin: 0 auto;
	display: block;
	text-transform: uppercase;
	font-size: 18px;
	font-family: Arial, sans-serif;
	padding-bottom: 5px;
    padding-top: 5px;
    box-sizing: border-box;

}
.img-search {
    padding-left: 15px;
	position:absolute;
}
.salesmen {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #181818;
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid #bfbfbf;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}
.search-box {
   padding-top: 20px;
   padding-bottom: 29px;
   border-bottom: 1px solid #bfbfbf;
}

.more-link {
	text-align: center;
	color: #181818;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Arial, sans-serif;
}
.gray {
	font-family: Arial, sans-serif;
	color: #bbbdbf;
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;

}
.consult {
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 100px;
	float: left;
	text-align: left;
	box-sizing: border-box;
}
.more {
	border-top: 1px solid #bfbfbf;
    padding-top: 9px;
	padding-bottom: 8px;
	width: 80%;
	margin: 0 auto;
	
}
.username {
	font-family: Arial, sans-serif;
	color: #181818;
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;

}
	input[class="price-input"] {

	color:#000000;
	border: none;

}

.images-profile {
	width: 63px;
	float: left;
	box-sizing: border-box;
	text-align: center;
	padding-top: 10px;
}
.search input::-webkit-input-placeholder {color:#92da00;}
::-moz-placeholder          {color:#92da00;}/* Firefox 19+ */
:-moz-placeholder           {color:#92da00;}/* Firefox 18- */
:-ms-input-placeholder      {color:#92da00;}





input::-webkit-input-placeholder {color:#858585;}
input::-moz-placeholder          {color:#858585;}/* Firefox 19+ */
input:-moz-placeholder           {color:#858585;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#858585;}

.slider-wrapper {
  display: inline-block;
  width: 100%;
  background-size: cover;
  margin-right: -3px;
  overflow: hidden;
  white-space: nowrap;
  
}


@keyframes sliding{
   0%   {transform: translateX(0);}
   49%   {transform: translateX(0);}
50% {transform: translateX(-100%);}
   99% {transform: translateX(-100%);}
}

.slider-wrapper-inner {
	animation-name: sliding;
	animation-duration: 15s;
	animation-iteration-count: infinite;

}

.slider-wrapper .slide {
display: inline-block;
  width: 100%;
background-repeat:no-repeat;

background-size:cover;
margin-right:-4px;
}

#wrapper-tabs .tab3,
#wrapper-tabs>span {
	display:none;
}
#wrapper-tabs .tab2 {
	display: block;
}
.more-link a{
	color: #181818;
}
.image-correct {
	padding-top: 8px;
}
#post-header-button3 img {
  padding-top: 10px;
}
.orange-buttons{
	width: 50px;
}

input[type="text"]:focus { outline: none; }

#category .price-min-wrapper .clearfix .little-words {
	font-size: 7px;
	color: #bbbdbf;
	width: 100%;
    font-family: Arial;
    text-transform: uppercase;
    display: block;
    text-align: right;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
}
#category .price-min-wrapper .clearfix .line-through {
	text-decoration: line-through;
	font-size: 12px;
	color: #505050;
	width: 100%;
    font-family: Arial;
    text-transform: uppercase;
    display: block;
    text-align: right;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
}
#category .price-min-wrapper .clearfix .right-text {
    font-size: 12px;
    color: #505050;
	width: 100%;
    font-family: Arial;
    text-transform: uppercase;
    display: block;
    text-align: right;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
}
/*.price-min-wrapper p {
	display: none;
}*/
.price-min-wrapper p:first-of-type {
	display: block;
}

/*new styles for page */

body {
	font-family: Arial, sans-serif;
}

.business p {
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.status .auction-line {
	font-size: 10px;
	font-family: Arial, sans-serif; 
	text-transform: uppercase;
	line-height: 26px;
}
.block-add {
	  color: #b3fd08;
	  text-align: center;
	  font-size: 20px;
	  text-transform: uppercase;
	  font-family: Arial, sans-serif; 
	  padding-top: 20px;
	  padding-right: 0;
	  padding-bottom: 20px;
}

.top-gray-line {
	  background: #373737;
	  text-align: center;
	  color: #ffffff;
	  font-size: 14px;
	  font-family: Arial, sans-serif;
	  text-transform: uppercase;
	  padding-top: 5px;
	  padding-bottom: 5px;
}
.top-gray-line p {
	text-align: center;
     font-size: 14px;
}

.block-photo, .block-info, .block-delivery, .block-return, 
.block-category, .block-subcategory, .block-new-category, 
.block-product-characteristics, .block-description {
	background: #f1f1f1;
}
.block-new-category {
	text-align: center;
}
.price input [type="text"] {
	width: 200px;
	text-align: center;
    margin-bottom: 10px;
    display: block;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #000000;
}
.prise [placeholder] {
	font-size: 8px;
	font-family: Arial, sans-serif;
	border-sizing: border-box;
}
.large {
	padding:0 20px;
	text-align: center;
}
.large input {
	width: 96%;
	text-align: center;
	margin-bottom: 10px;
	box-sizing: border-box;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

}
.number input[type="text"] {
	width: 270px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
}
.number {
	margin: 0 auto;
	width: 270px;

}
.business p {
	text-align: center;
}
.auction {
	text-align: center;
	text-transform: uppercase;

}
p {
	text-transform: uppercase;
	font-family: Arial, sans-serif;
}
.status, .location, .cooperation, .post-office {
  display: block;
  float: left;
}
 .delivery-terms {
  width: 33.3%;
  display: block;
  float: right;
}
.lots-time {
	  width: 33.3%;
  display: block;
  float: left;
  padding-right: 13px;
  text-align: center;
  box-sizing: Border-box;
}
.category-goods {
	width: 25%;
	float: left;
	display: block;
}
.category-goods p, .category-goods-last p, 
.subcategory-goods p, .subcategory-goods-last p{
    font-size: 8px;
    color: #000000;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 10px;
    vertical-align: middle;
}
.category-goods p:first-of-type, .category-goods-last p:first-of-type,
.subcategory-goods p:first-of-type, .subcategory-goods-last p:first-of-type {
	padding-top: 10px;
}
.category-goods p:last-of-type, .category-goods-last p:last-of-type,
.subcategory-goods p:last-of-type, .subcategory-goods-last p:last-of-type {
	padding-bottom: 10px;
}

.subcategory-goods {
   display: block;
   float: left;
   width: 33.3%;
}
.block-new-category input{
	 width: 100%;
	 box-sizing: border-box;
	 margin-top: 8px;
	 text-transform: uppercase;
	 font-family: Arial, sans-serif;
	 font-size: 10px;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 color: #000000;
}
.description-product {
	width: 25%;
	float: left;
}
.description-goods {
	width: 55%;
	float: left;
}
.img-arrow {
	float: left;
	width: 20px;
	display:block;
}
.auction-line {
	margin-bottom: 10px;
	width: 100%;
	display:block;
	font-size: 10px;
	font-family: Arial, sans-serif;
}
.delivery-slider-generic .auction-line {
	margin-bottom: 0;
}
.img-arrow-last {
	float: left;
	display: block;
	width:  20px;
}
.auction {
	width: 100%;
	margin: 0 auto;
	line-height: 20px;
	margin-bottom: 10px;

}
.large input::-webkit-input-placeholder {color:#7a7a7a;}
.block-info ::-moz-placeholder          {color:#7a7a7a;}/* Firefox 19+ */
.block-info :-moz-placeholder           {color:#7a7a7a;}/* Firefox 18- */
.block-info :-ms-input-placeholder      {color:#7a7a7a;}

.search::-webkit-input-placeholder {color:#92da00;}
.search::-moz-placeholder          {color:#92da00;}/* Firefox 19+ */
.search:-moz-placeholder           {color:#92da00;}/* Firefox 18- */
.search:-ms-input-placeholder      {color:#92da00;;}

.price input [type="text"]{
	font-size: 8px;
	font-family: Arial, sans-serif;
	padding-bottom: 5px;
	padding-top: 5px;

	}

input.price-input {
	width: 170px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}
input.large-input {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #000000;
	font-size: 10px;
	text-align: center;
	margin-left: 0;
	width:847px;
}
.bottom-pin-container {
width:33.3%;
float:left;
text-align:center;
}
#slider3,
#slider7 {
	width:110px;
}
.delivery-slider-generic {
	width:150px;
}

#slider3 .auction-line,
#slider2 .auction-line  {
	margin-bottom: 0;
}
#slider3.slick-slider,
#slider7.slick-slider,
.delivery-slider-generic.slick-slider {
margin-bottom: 0;
}
.delivery-right {
	width:33.3%;
	float:left;
	text-align:center;
}
/*
input.price-input:first-of-type {
    margin-left: 20px;
    margin-right: 15px;
}
input.price-input:last-of-type {
	margin-left: 15px;
}
*/
input.number-input {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #000000;
	font-size: 10px;
	text-align: center;
}
.location p, .status p, .lots-time p,
 .return p, .data-return p,
  .redelivery p, .description-goods p {
	font-size: 12px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #000000;
	text-align: center;

}

.location-block.location-img {
	margin-right: 2px;
	padding-left: 5px;
	
}
.local-photo {
	margin-top: 5px;
}

.status {
	  text-align: center;
     width: 32%;

}

.post .slick-next, 
.post .slick-prev {
	top: 10px;
}

.block-return .slick-next,
.block-return .slick-prev {
	top: 9px;
}

.cooperation, .post-office, .delivery-terms,
.return, .data-return, .redelivery
 {
	text-align: center;
}
.cooperation.location.pin-container {
	padding-top: 0;
}
.redelivery {
  width: 33.3%;
  float: left;
}
.return, .data-return {
	display: block;
	width: 33.3%;
    float: left;
      text-align: center;
}
.return .arrows-wrapper {
  margin: 0 auto;
  width: 150px;
}
.redelivery .arrows-wrapper {
	margin: 0 auto;
  width: 150px;
}
.block-return, .block-delivery{
	  padding-bottom: 10px;
}
.description-product, .description-product-last, .description-goods {
	padding-top: 8px;
	text-align: center;
}

.description-product input, .description-product-last input {
	font-family: Arial, sans-serif;
	width: 215px;
	padding-top: 7px;
	padding-bottom: 6px;
	text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
}

textarea {
	width: 375px;
	min-height: 115px;
}

 textarea.input-description {
	max-width: 375px;
	max-height: 115px;
	color:#000000;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	border: none;
	padding-top: 12px;
}
.description-goods:first-of-type {
	display: block;
	float: left;
}
.description-goods {
	width: 50%;
}
.publish {
	text-align: center;
	}
.btn-pub {
	color: #ffffff;
    background: #b1fe00;
    border-style: none;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, sans-serif;
	text-transform: uppercase;
}
.calendar {
	width: 545px;
	background: yellow;
	margin: 0 auto;
	display:none;
}

.block-right, .block-left {
	width: 50%;
	padding-top: 20px;
	border-bottom: 1px solid #e8e8e8;
}
a

.block-left {
	display: block;
	float: left;
}
.block-right {
	display: block;
	float: right;
}
.data-return input {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	width: 270px;
	border: none;
}

.calenadar-date li, .days li {
	display: block;
	float: left;
}
.calenadar-date li {
	font-size: 12px;
	font-weight: bold;
    font-family: Arial, sans-serif;
	text-transform: uppercase;
	width: 14%;
}
/*

.days li {
	padding-top: 12px;
	padding-left: 20px;
	padding-bottom: 12px;
	padding-right: 20px;
	border: 1px solid #c0bebf;
	width: 4%;
	font-size: 12px;
	font-weight: bold;
    font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #e1dfe0;

}
*/
.half {
	width: 45%;
	font-size: 12px;
    font-family: Arial, sans-serif;
}
.half:first-of-type {
	text-align: left;
	display: block;
	float: left;
	margin-left: 10px;
}
.half:last-of-type {
	text-align: right;
	display: block;
	float: right;
	margin-right: 5px; 
}

.remove-date, .ok, .remove-time {
	font-size: 12px;
    font-family: Arial, sans-serif;
	box-sizing:border-box;
}
.month {
	display: block;
	float: left;
	margin-left: 75px;
	margin-right: 80px;
}
.remove-date {
	display: block;
	float: left;
	width: 33.3%;
	text-align: center;
}
.ok {
	display: block;
	float: left;
	font-weight: bold;
	width: 33.3%;
	text-align: center;
	font-size: 16px;
    font-family: Arial;
}

.remove-time {
	display: block;
	float: right;
	text-align: center;
}

.top-time {
	width: 100%;
	font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-bottom: 25px;
}
.big-time {
	font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 70px;
}
.residue {
	font-family: Arial, sans-serif;
    text-align: center;

}
.residue-word {
	font-family: Arial, sans-serif;
}
.residue-counter li:first-of-type {
    display: block;
	float: left;
	width: 10%;
    margin-left: 91px;
}
.residue-counter {
	width: 100%;
	font-size: 10px;
}

.residue-counter li:last-of-type {
    display: block;
	float: left;
	width: 10%;
}
.new-witrin-name {
	text-align: center;
	background: #ffffff;
	text-transform: uppercase;
	color: #c9c9c9;
	font-size: 9px;
    font-family: Arial, sans-serif;
    padding-top: 6px;
}
.hidden-new-category {
	width: 600px;
	margin: 0 auto;
	display:none;
}
.first-img {
	height: 52px;
	width: 52px;
	margin-top: 13px;
	margin-left: 13px;
}
#your-own-category {
	width:98%;
	box-sizing:border-box;
	margin-bottom: 10px;
}
.last-img {
	height: 52px;
	width: 52px;
	margin-top: 13px;
	margin-left: 13px;
}
.general-img, .middle-img {
    width: 115px;
    height: 115px;
}
.general-img {
	background: #ffffff;
	
}
.photo-img {
	padding-top: 20px;
	padding-bottom: 30px;
}
.middle-img {
	margin-right: 10px;
	
}
.fa {
	color: #d5d5d5;
}
.image-background {
	background: #ffffff;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.image-background:first-of-type {
	float: left;
	display: block;

	margin-left: 25px;
    margin-top: 20px;
    margin-right: 30px
	
}
.image-background:last-of-type {
	 float: right;
	 display: block;
	 margin-right: 25px;
     margin-top: 20px;
}
.image-background {
	max-width: 100%;
}
.top-pointer {
	margin-left: 60px; 
}
.fa-angle-up:first-of-type {
  margin-right: 60px;
}
.fa-angle-down:last-of-type {
	margin-left: 60px;
}

.location-block {
	text-align:center;

}
.hidden-minus {
	display: none;
}
.post {
	margin-bottom: 15px;
}
.money {
	width: 107px;
	font-size: 10px;
    padding-top: 3px;
    text-transform: uppercase;
}
.redelivery .img-arrow-last .fa {
	margin-left: -12px;
}
.description-product input, 
.description-product-last input{
	margin-bottom: 5px;
	margin-top: 5px;
	border: none;

}
.publish a {
	  color: #ffffff;
}

.new-name {
	background: #ffffff;
}
.add-img-new {
	text-align: center;
	margin-top: 8px;
	padding-bottom: 8px;
}
.selection {
	 text-transform: uppercase;
	 color: #c9c9c9;
	 font-size: 9px;
	 font-family: Arial, sans-serif;
	 text-align: center;
	 background: #f1f1f1;
	 padding-top: 10px;
	 padding-bottom: 10px;
}
.goods-img {
	float: left;
  display: table-cell;
    width: 103px;
  height: 103px;
  color: #ffffff;
  background: #878787;
  border: 2px solid #c7c7c7;
  padding-top: 27px;
  margin-right: 5px;
  box-sizing: border-box;
  margin-left: 5px;
  text-align: center;
  margin-bottom: 10px;
}
input {
	text-align: center;
	color:#000000;
	border: none;
}
.showcase-category-wrapper {
	height:300px;
	overflow-y:Scroll;
}
.img-block-bottom {
	padding-top: 10px;
	border-bottom: 3px solid #eeeeee;
}
.publish {
   background: #f1f1f1;
}
.goods-img p:last-of-type {
   text-transform: none;
     font-size: 12px;
  margin-top: 10px;
}
.img-block-top, .img-block-bottom {
	background: #ffffff;
	
}

.img-block-top {
	  padding-top: 20px;
	  padding-left:10px;
}
.img-block-bottom {
	padding-bottom: 15px;
}
.img-block-bottom .goods-img:first-of-type {
    margin-left: 112px;
}
.hr, .min {
	float: left;
	display: block;
	width: 15%;
}
.sec {
    float: right;
    display: block;
    width: 15%;
}
.remove {
  display: inline-block;
  width: 575px;
}
.block-top-right {
	margin-bottom: 20px;
}
.block-top-right .img-arrow {
	margin-left: 20px;
}
.top-time {
  font-size: 24px;
  text-align: center;
}
.terms {
	margin-top: 5px;
	margin-bottom: 6px;
	font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: #e1dfe0;
}
.block-left .terms:last-of-type {
	  border-right: 1px solid #d5d5d5;
}
.days-calendar li {
	display: inline-block;
	margin-left: 13px;
	padding-bottom: 6px;
}
.location-block input .price-input, 
.cooperation input .price-input {
	  width: 221px;
	  border: none;

}
.category-goods a, 
.category-goods-last a,
.subcategory-goods a,
.subcategory-goods-last a {
	color: #000000;
	font-size: 9px;
}
.category-goods a:hover, 
.category-goods-last a:hover,
.subcategory-goods a:hover,
.subcategory-goods-last a:hover {
	color: #b1fe00;

}
.shipment {
	color: #000000;
	font-size: 11px;
	font-family: Arial,sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.promotional-banner.slick-initialized.slick-slider {
  margin-bottom: 10px; 
  }
  
.hidden-goods {
	display: none;
	padding-top: 10px;
    padding-bottom: 10px;
    text-align:left;
}
.parent-img {
	display: inline-block;
	width: 115px;
	height: 115px;
	overflow: hidden;
	margin-right: 8px;
}
.parent-img:nth-of-type(3){
	border: 1px solid #383a37;
}
.parent-img-wrapper {
	float: left;
	width: 640px;

}

.post .auction-line {
	line-height: 20px;
}

.hidden-cross {
	display: none;
}

.parent-img {
position:relative;

}
.parent-img:hover:before {
	display: block;
	content: "";
}

.parent-img:before {
	content: "";
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 115px;
    height: 100%;
    background: url(../../images/user_search/cross-fon-icon.png) no-repeat 50%;
    background-size: 18px;
}

.block-center-input {
	text-align: center;

}
#slider2 {
	width: 90px;
}
#slider1 .slick-prev,
#slider-popup-1 .slick-prev {
	  top: 12px;
      left: 10px;
      z-index: 9999;
}
#slider1 .slick-next,
#slider-popup-1 .slick-prev,
 #slider-popup-1 .slick-next {
  top: 12px;
  right: 10px;
}

#slider1.slick-slider,
#slider-popup-1.slick-slider {
   margin-bottom: 0; 
}


#slider2.slick-slider,
#slider-popup-2.slick-slider {
	margin-bottom:10px;
}
.delivery-slider-generic .slick-prev:before,
.delivery-slider-generic .slick-next:before {
	top:4px;
}

#slider-popup-2 .slick-prev {
  left: 20px;
  top:12px;
   z-index: 9999;
}
#slider-popup-2 .slick-next {
  left: 125px;
  top:12px;
}

#slider-popup-3 .slick-prev {
  left: 13px;
  top:12px;
   z-index: 9999;
}

 #slider-popup-3 .slick-next {
  right: 13px;
  top:12px;
}
#slider-popup-1,
#slider-popup-2,
#slider-popup-3 {

   line-height: 25px;
}
#slider-popup-3.slick-slider {
	margin-bottom: 0;
}
#slider1 .slick-prev:before,
#slider2 .slick-prev:before,
#slider3 .slick-prev:before,
#slider5 .slick-prev:before,
#slider6 .slick-prev:before,
#slider7 .slick-prev:before,
.delivery-slider-generic .slick-prev:before,
#slider-popup-1 .slick-prev:before, 
#slider-popup-2 .slick-prev:before, 
#slider-popup-3 .slick-prev:before {
	content: "\f053";
  font-family: FontAwesome;
  color:#333;
  font-size:10px;
}
#slider1 .slick-next:before,
#slider2 .slick-next:before,
#slider3 .slick-next:before,
#slider5 .slick-next:before,
#slider6 .slick-next:before,
#slider7 .slick-next:before,
 .delivery-slider-generic .slick-next:before,
 #slider-popup-1 .slick-next:before,
 #slider-popup-2 .slick-next:before,
 #slider-popup-3 .slick-next:before {
	content: "\f054";
  font-family:FontAwesome;
   color:#333;
   font-size:10px;
}
.delivery-slider-generic .slick-prev {
	left:-13px;
}
.delivery-slider-generic .slick-next {
   right: -13px;
}
.sub-content a {
	color: #000000;
}
p a {
   color: #000000;
   font-size: 9px;
   vertical-align: middle;
}
p a:hover {
	color: #b1fe00;
}

.block-category a {
	color: #000000;
}

.block-category .category-goods a:hover {
	color: #b1fe00;
	color: #f66806;
}
.block-add a {
	color: #b1fe00;
}
.hidden-goods a:hover {
	color: #b1fe00;
	color: #f66806;
}

.highlighted-link a {
	color: #b1fe00;
	color: #f66806;
}
.lots {
	font-family: Arial,sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}
.error {
	font-size:10px;
	text-transform: uppercase;
	font-family: Arial,sans-serif;
}

 textarea:focus {outline:none}

 input[type="number"]:focus {outline: none}

  input[type="datetime-local"]:focus {outline: none}
  p {
  	vertical-align: top;
  }
  .pin-container.location .pin-container-input.price-input {
  width: 170px;
  margin-left: 0;
}
.slick-slide.slick-current.slick-active:focus {
    outline: none;
}